src/references/Vecto.3.2.1.1079/XSD/VectoOutputCustomer.0.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 (x64) (http://www.altova.com) by Helmut Eichlseder (TU Graz/Inst. f. VKM und THD) -->
<!--W3C XML Schema generated by XMLSpy vXMLSpy Professional Edition v2016 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema xmlns="urn:tugraz:ivt:VectoAPI:CustomerOutput:v0.4"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vdecdef="urn:tugraz:ivt:VectoAPI:DeclarationDefinitions:v1.0"
           targetNamespace="urn:tugraz:ivt:VectoAPI:CustomerOutput:v0.4"
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified"
           version="0.4">
	<xs:import namespace="urn:tugraz:ivt:VectoAPI:DeclarationDefinitions:v1.0" schemaLocation="VectoDeclarationDefinitions.1.0.xsd"/>
	<xs:element name="VectoCustomerInformation">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Data">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="VectoOutputDataType"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Signature" type="vdecdef:SignatureType"/>
			</xs:sequence>
			<xs:attribute name="schemaVersion" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CO2Type">
		<xs:simpleContent>
			<xs:extension base="xs:double">
				<xs:attribute name="unit" type="CO2UnitType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FuelConsumptionType">
		<xs:simpleContent>
			<xs:extension base="xs:double">
				<xs:attribute name="unit" type="FuelConsumptionUnitType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ResultType">
		<xs:sequence>
			<xs:element name="Mission" type="MissionTypeType"/>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Payload">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unit" type="MassUnitType" use="required"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="FuelType" type="vdecdef:FuelTypeType"/>
					<xs:element name="AverageSpeed">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unit" type="SpeedUnitType" use="required"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="FuelConsumption" type="FuelConsumptionType" maxOccurs="unbounded"/>
					<xs:element name="CO2" type="CO2Type" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element name="Error"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="status" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="success"/>
					<xs:enumeration value="error"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="VectoOutputDataType">
		<xs:sequence>
			<xs:element name="Vehicle" type="VehicleType"/>
			<xs:element name="ResultDataSignature" type="vdecdef:SignatureType"/>
			<xs:element name="Results">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Status">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="success"/>
									<xs:enumeration value="error"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Result" type="ResultType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ApplicationInformation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SimulationToolVersion"/>
						<xs:element name="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required"/>
	</xs:complexType>
	<xs:complexType name="VehiclePerformanceType">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="VehicleType">
		<xs:sequence>
			<xs:element name="Model" type="vdecdef:ModelType"/>
			<xs:element name="Manufacturer" type="vdecdef:ManufacturerType"/>
			<xs:element name="ManufacturerAddress" type="vdecdef:ManufacturerAddressType"/>
			<xs:element name="VIN">
				<xs:annotation>
					<xs:documentation>P238</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegislativeClass" type="vdecdef:LegislativeClassDeclarationType">
				<xs:annotation>
					<xs:documentation>P251</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleGroup" type="VehicleGroupType">
				<xs:annotation>
					<xs:documentation>VECTO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AxleConfiguration" type="vdecdef:VehicleAxleConfigurationDeclarationType">
				<xs:annotation>
					<xs:documentation>P037</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossVehicleMass" type="vdecdef:VehicleGrossVehicleMassType">
				<xs:annotation>
					<xs:documentation>P041</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurbMassChassis" type="vdecdef:VehicleCurbMassChassisType">
				<xs:annotation>
					<xs:documentation>P038</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineRatedPower" type="vdecdef:EngineRatedPower">
				<xs:annotation>
					<xs:documentation>P250</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineDisplacement" type="vdecdef:EngineDisplacementType">
				<xs:annotation>
					<xs:documentation>P061</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FuelType" type="vdecdef:FuelTypeType">
				<xs:annotation>
					<xs:documentation>P193</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransmissionMainCertificationMethod" type="vdecdef:GearboxCertificationOptionType">
				<xs:annotation>
					<xs:documentation>P154</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransmissionType" type="vdecdef:GearboxTransmissionTypeType">
				<xs:annotation>
					<xs:documentation>P076</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GearsCount">
				<xs:annotation>
					<xs:documentation>P199</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Retarder" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>P052</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AxleRatio" type="vdecdef:AxlegearRatioType">
				<xs:annotation>
					<xs:documentation>P150</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AverageRRC" type="vdecdef:TyreRRCISOType"/>
			<xs:element name="InputDataSignature" type="vdecdef:SignatureType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AccelerationUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="m/s²"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirdragCertificationOptionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Measured"/>
			<xs:enumeration value="Standard values"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CO2UnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="g/km"/>
			<xs:enumeration value="g/t-km"/>
			<xs:enumeration value="g/p-km"/>
			<xs:enumeration value="g/m³-km"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DistanceUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="km"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FuelConsumptionUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="g/km"/>
			<xs:enumeration value="g/t-km"/>
			<xs:enumeration value="g/p-km"/>
			<xs:enumeration value="g/m³-km"/>
			<xs:enumeration value="l/100km"/>
			<xs:enumeration value="l/t-km"/>
			<xs:enumeration value="l/p-km"/>
			<xs:enumeration value="l/m³-km"/>
			<xs:enumeration value="MJ/km"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MassUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="kg"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MissionTypeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Long Haul EMS"/>
			<xs:enumeration value="Long Haul"/>
			<xs:enumeration value="Regional Delivery EMS"/>
			<xs:enumeration value="Regional Delivery"/>
			<xs:enumeration value="Urban Delivery"/>
			<xs:enumeration value="Municipal Utility"/>
			<xs:enumeration value="Construction"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpeedUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="km/h"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VehicleGroupType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="16"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
