src/VehicleModel/XSD_2018_06_04-VECTO-3.3.0.1250_SRC/VectoOutputManufacturer.0.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by Helmut Eichlseder (TU Graz/Inst. f. VKM und THD) -->
<!--W3C XML Schema generated by XMLSpy vXMLSpy Professional Edition v2016 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema xmlns="urn:tugraz:ivt:VectoAPI:DeclarationOutput:v0.4" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vdecdef="urn:tugraz:ivt:VectoAPI:DeclarationDefinitions:v1.0" targetNamespace="urn:tugraz:ivt:VectoAPI:DeclarationOutput:v0.4" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.4">
	<xs:import namespace="urn:tugraz:ivt:VectoAPI:DeclarationDefinitions:v1.0" schemaLocation="VectoDeclarationDefinitions.1.0.xsd"/>
	<xs:element name="VectoOutput">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Data">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="VectoOutputDataType"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Signature" type="vdecdef:SignatureType"/>
			</xs:sequence>
			<xs:attribute name="schemaVersion" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AirdragType">
		<xs:sequence>
			<xs:element name="Model" minOccurs="0"/>
			<xs:element name="CertificationMethod" type="AirdragCertificationOptionType"/>
			<xs:element name="CertificationNumber" minOccurs="0"/>
			<xs:element name="DigestValue" minOccurs="0"/>
			<xs:element name="CdxA" type="vdecdef:AirdragCdxAType">
				<xs:annotation>
					<xs:documentation>P245</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AngledriveType">
		<xs:sequence>
			<xs:element name="Model" type="vdecdef:ModelType"/>
			<xs:element name="CertificationMethod" type="vdecdef:AngledriveCertificationOptionType">
				<xs:annotation>
					<xs:documentation>P258</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationNumber" type="vdecdef:CertificationNumberType" minOccurs="0"/>
			<xs:element name="DigestValue" type="xs:token"/>
			<xs:element name="Ratio" type="vdecdef:AngledriveRatioType">
				<xs:annotation>
					<xs:documentation>P176</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxiliariesType">
		<xs:sequence>
			<xs:element name="FanTechnology" type="vdecdef:AuxFanTechnologyType">
				<xs:annotation>
					<xs:documentation>P181</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SteeringPumpTechnology" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>P182</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vdecdef:AuxSPTechnologyType"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ElectricSystemTechnology" type="vdecdef:AuxESTechnologyType">
				<xs:annotation>
					<xs:documentation>P183</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PneumaticSystemTechnology" type="vdecdef:AuxPSTechnologyType">
				<xs:annotation>
					<xs:documentation>P184</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HVACTechnology" type="vdecdef:AuxHVACTechnologyType">
				<xs:annotation>
					<xs:documentation>P185</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AxlegearType">
		<xs:sequence>
			<xs:element name="Model" type="vdecdef:ModelType"/>
			<xs:element name="CertificationMethod" type="vdecdef:AxlegearCertificationOptionType">
				<xs:annotation>
					<xs:documentation>P256</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationNumber" type="vdecdef:CertificationNumberType" minOccurs="0"/>
			<xs:element name="DigestValue" type="xs:token"/>
			<xs:element name="LineType" type="vdecdef:AxlegearLineTypeType">
				<xs:annotation>
					<xs:documentation>P253</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ratio" type="vdecdef:AxlegearRatioType">
				<xs:annotation>
					<xs:documentation>P150</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AxleType">
		<xs:sequence>
			<xs:element name="TyreDimension" type="vdecdef:TyreDimensionType">
				<xs:annotation>
					<xs:documentation>P108</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TyreCertificationNumber" type="vdecdef:CertificationNumberType">
				<xs:annotation>
					<xs:documentation>P267</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DigestValue" type="xs:token"/>
			<xs:element name="TyreRRCDeclared" type="vdecdef:TyreRRCISOType">
				<xs:annotation>
					<xs:documentation>P046</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TwinTyres" type="vdecdef:AxleTwinTyresType">
				<xs:annotation>
					<xs:documentation>P045</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="axleNumber" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AxleWheelsType">
		<xs:sequence minOccurs="2" maxOccurs="4">
			<xs:element name="Axle" type="AxleType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CO2Type">
		<xs:simpleContent>
			<xs:extension base="xs:double">
				<xs:attribute name="unit" type="CO2UnitType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ComponentDescriptionType">
		<xs:sequence>
			<xs:element name="Model" type="vdecdef:ModelType"/>
			<xs:element name="CertificationNumber" type="vdecdef:CertificationNumberType"/>
			<xs:element name="DigestValue" type="xs:token"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EngineType">
		<xs:complexContent>
			<xs:extension base="ComponentDescriptionType">
				<xs:sequence>
					<xs:element name="RatedPower" type="vdecdef:EngineRatedPower">
						<xs:annotation>
							<xs:documentation>P250</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdlingSpeed" type="vdecdef:EngineDeclaredSpeedType">
						<xs:annotation>
							<xs:documentation>P063 / P198</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RatedSpeed" type="vdecdef:EngineDeclaredSpeedType">
						<xs:annotation>
							<xs:documentation>P249</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Displacement" type="vdecdef:EngineDisplacementType">
						<xs:annotation>
							<xs:documentation>P061</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FuelType" type="vdecdef:FuelTypeType">
						<xs:annotation>
							<xs:documentation>P193</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FuelConsumptionType">
		<xs:simpleContent>
			<xs:extension base="xs:double">
				<xs:attribute name="unit" type="FuelConsumptionUnitType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GearboxType">
		<xs:sequence>
			<xs:element name="Model" type="vdecdef:ModelType"/>
			<xs:element name="CertificationMethod" type="vdecdef:GearboxCertificationOptionType">
				<xs:annotation>
					<xs:documentation>P154</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationNumber" type="vdecdef:CertificationNumberType" minOccurs="0"/>
			<xs:element name="DigestValue" type="xs:token"/>
			<xs:element name="TransmissionType" type="vdecdef:GearboxTransmissionTypeType">
				<xs:annotation>
					<xs:documentation>P076</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GearsCount">
				<xs:annotation>
					<xs:documentation>P199</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransmissionRatioFinalGear" type="vdecdef:GearboxGearRatioType">
				<xs:annotation>
					<xs:documentation>P078</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultType">
		<xs:sequence>
			<xs:element name="Mission" type="MissionTypeType"/>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Distance">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unit" type="DistanceUnitType" use="required"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="SimulationParameters" type="SimulationParametersType"/>
					<xs:element name="VehiclePerformance" type="VehiclePerformanceType"/>
					<xs:element name="FuelConsumption" type="FuelConsumptionType" maxOccurs="unbounded"/>
					<xs:element name="CO2" type="CO2Type" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="Error" type="xs:string"/>
					<xs:element name="ErrorDetails" type="xs:string"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="status" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="success"/>
					<xs:enumeration value="error"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RetarderType">
		<xs:sequence>
			<xs:element name="RetarderType" type="vdecdef:RetarderTypeType">
				<xs:annotation>
					<xs:documentation>P052</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:element name="Model" type="vdecdef:ModelType"/>
				<xs:element name="CertificationMethod" type="vdecdef:RetarderCertificationOptionType">
					<xs:annotation>
						<xs:documentation>P255</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CertificationNumber" type="vdecdef:CertificationNumberType" minOccurs="0"/>
				<xs:element name="DigestValue" type="xs:token"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimulationParametersType">
		<xs:sequence>
			<xs:element name="TotalVehicleMass">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="MassUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Payload">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="MassUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="FuelType" type="vdecdef:FuelTypeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TorqueconverterType">
		<xs:sequence>
			<xs:element name="Model" type="vdecdef:ModelType"/>
			<xs:element name="CertificationMethod" type="vdecdef:TorqueConverterCertificationOptionType">
				<xs:annotation>
					<xs:documentation>P257</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationNumber" type="vdecdef:CertificationNumberType" minOccurs="0"/>
			<xs:element name="DigestValue" type="xs:token"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TorqueLimitsEntryType">
		<xs:attribute name="gear" type="vdecdef:GearboxGearNumberType" use="required">
			<xs:annotation>
				<xs:documentation>P196</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="torqueLimit" type="vdecdef:TorqueLimitEntryMaxTorqueType" use="required">
			<xs:annotation>
				<xs:documentation>P197 / P194</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TorqueLimitsType">
		<xs:sequence>
			<xs:element name="Entry" type="TorqueLimitsEntryType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VectoOutputDataType">
		<xs:sequence>
			<xs:element name="Vehicle" type="VehicleType"/>
			<xs:element name="Results">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Status">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="success"/>
									<xs:enumeration value="error"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Result" type="ResultType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ApplicationInformation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SimulationToolVersion"/>
						<xs:element name="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required"/>
	</xs:complexType>
	<xs:complexType name="VehiclePerformanceType">
		<xs:sequence>
			<xs:element name="AverageSpeed">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="SpeedUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="MinSpeed">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="SpeedUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="MaxSpeed">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="SpeedUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="MaxDeceleration">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="AccelerationUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="MaxAcceleration">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="AccelerationUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="FullLoadDrivingtimePercentage">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GearshiftCount" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleType">
		<xs:sequence>
			<xs:element name="VIN">
				<xs:annotation>
					<xs:documentation>P238</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegislativeClass" type="vdecdef:LegislativeClassDeclarationType">
				<xs:annotation>
					<xs:documentation>P251</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleGroup" type="VehicleGroupType">
				<xs:annotation>
					<xs:documentation>VECTO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AxleConfiguration" type="vdecdef:VehicleAxleConfigurationDeclarationType">
				<xs:annotation>
					<xs:documentation>P037</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossVehicleMass" type="vdecdef:VehicleGrossVehicleMassType">
				<xs:annotation>
					<xs:documentation>P041</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurbMassChassis" type="vdecdef:VehicleCurbMassChassisType">
				<xs:annotation>
					<xs:documentation>P038</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PTO" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>P247</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TorqueLimits" type="TorqueLimitsType" minOccurs="0"/>
			<xs:element name="Components">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Engine" type="EngineType"/>
						<xs:element name="Gearbox" type="GearboxType"/>
						<xs:element name="Torqueconverter" type="TorqueconverterType" minOccurs="0"/>
						<xs:element name="Retarder" type="RetarderType"/>
						<xs:element name="Angledrive" type="AngledriveType" minOccurs="0"/>
						<xs:element name="Axlegear" type="AxlegearType"/>
						<xs:element name="AirDrag" type="AirdragType"/>
						<xs:element name="AxleWheels" type="AxleWheelsType"/>
						<xs:element name="Auxiliaries" type="AuxiliariesType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InputDataSignature" type="vdecdef:SignatureType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AccelerationUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="m/s²"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirdragCertificationOptionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Measured"/>
			<xs:enumeration value="Standard values"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CO2UnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="g/km"/>
			<xs:enumeration value="g/t-km"/>
			<xs:enumeration value="g/p-km"/>
			<xs:enumeration value="g/m³-km"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DistanceUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="km"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FuelConsumptionUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="g/km"/>
			<xs:enumeration value="g/t-km"/>
			<xs:enumeration value="g/p-km"/>
			<xs:enumeration value="g/m³-km"/>
			<xs:enumeration value="l/100km"/>
			<xs:enumeration value="l/t-km"/>
			<xs:enumeration value="l/p-km"/>
			<xs:enumeration value="l/m³-km"/>
			<xs:enumeration value="MJ/km"/>
			<xs:enumeration value="MJ/t-km"/>
			<xs:enumeration value="MJ/m³-km"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MassUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="kg"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MissionTypeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Long Haul EMS"/>
			<xs:enumeration value="Long Haul"/>
			<xs:enumeration value="Regional Delivery EMS"/>
			<xs:enumeration value="Regional Delivery"/>
			<xs:enumeration value="Urban Delivery"/>
			<xs:enumeration value="Municipal Utility"/>
			<xs:enumeration value="Construction"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpeedUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="km/h"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VehicleGroupType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="16"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
