src/references/Vecto.3.3.0.1250/XML/XSD/VectoDeclarationDefinitions.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by Helmut Eichlseder (TU Graz/Inst. f. VKM und THD) -->
<?xml-stylesheet type="text/xsl" href="../RenderTable.xslt"?>
<xs:schema xmlns:tns="urn:tugraz:ivt:VectoAPI:DeclarationDefinitions:v1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:vectoParam="urn:tugraz:ivt:VectoAPI:ParameterDocumentation" xmlns:di="http://www.w3.org/2000/09/xmldsig#" targetNamespace="urn:tugraz:ivt:VectoAPI:DeclarationDefinitions:v1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xsi:schemaLocation="urn:tugraz:ivt:VectoAPI:ParameterDocumentation ParameterDocumentation.xsd">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<xs:complexType name="AirDragComponentDeclarationType">
		<xs:sequence>
			<xs:element name="Data" type="tns:AirDragDataDeclarationType"/>
			<xs:element name="Signature" type="tns:SignatureType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirDragDataDeclarationType">
		<xs:sequence>
			<xs:element name="Manufacturer" type="tns:ManufacturerType">
				<xs:annotation>
					<xs:documentation>P240</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="tns:ModelType">
				<xs:annotation>
					<xs:documentation>P241</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationNumber" type="tns:CertificationNumberType">
				<xs:annotation>
					<xs:documentation>P268</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="tns:DateTimeWithTimezone">
				<xs:annotation>
					<xs:documentation>P243</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppVersion" type="tns:AppVersionType">
				<xs:annotation>
					<xs:documentation>P244</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdxA_0" type="tns:AirdragCdxAType">
				<xs:annotation>
					<xs:documentation>P245 - [m²]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferredCdxA" type="tns:AirdragCdxAType">
				<xs:annotation>
					<xs:documentation>P246 - [m²]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeclaredCdxA" type="tns:AirdragCdxAType">
				<xs:annotation>
					<xs:documentation>P146 - [m²]  Drag coefficient * Cross Sectional Area (Truck &amp; Trailer)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id"/>
	</xs:complexType>
	<xs:complexType name="AngledriveComponentDeclarationType">
		<xs:sequence>
			<xs:element name="Data" type="tns:AngledriveDataDeclarationType"/>
			<xs:element name="Signature" type="tns:SignatureType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AngledriveDataDeclarationType">
		<xs:complexContent>
			<xs:extension base="tns:DeclarationPowertrainComponentType">
				<xs:sequence>
					<xs:element name="Manufacturer" type="tns:ManufacturerType">
						<xs:annotation>
							<xs:documentation>P220</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Model" type="tns:ModelType">
						<xs:annotation>
							<xs:documentation>P221</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificationNumber" type="tns:CertificationNumberType">
						<xs:annotation>
							<xs:documentation>P265</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="tns:DateTimeWithTimezone">
						<xs:annotation>
							<xs:documentation>P223</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppVersion" type="tns:AppVersionType">
						<xs:annotation>
							<xs:documentation>P224</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ratio" type="tns:AngledriveRatioType">
						<xs:annotation>
							<xs:documentation>P176 - [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificationMethod" type="tns:AngledriveCertificationOptionType">
						<xs:annotation>
							<xs:documentation>P258 - [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TorqueLossMap">
						<xs:complexType>
							<xs:sequence minOccurs="4" maxOccurs="unbounded">
								<xs:element name="Entry" type="tns:AngledriveLossMapEntryType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngledriveLossMapEntryType">
		<xs:attribute name="inputSpeed" type="tns:AngledriveInputSpeedType" use="required">
			<xs:annotation>
				<xs:documentation>P173 - [1/min]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="inputTorque" type="tns:AngledriveInputTorqueType" use="required">
			<xs:annotation>
				<xs:documentation>P174 - [Nm]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="torqueLoss" type="tns:AngledriveTorqueLossType" use="required">
			<xs:annotation>
				<xs:documentation>P175 - [Nm]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AuxiliariesBaseType">
		<xs:annotation>
			<xs:documentation>Auxiliaries</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="AuxiliariesComponentDeclarationType">
		<xs:sequence>
			<xs:element name="Data" type="tns:AuxiliariesDataDeclarationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxiliariesDataDeclarationType">
		<xs:complexContent>
			<xs:extension base="tns:AuxiliariesBaseType">
				<xs:sequence>
					<xs:element name="Fan">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Technology" type="tns:AuxFanTechnologyType">
									<xs:annotation>
										<xs:documentation>P181</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="SteeringPump">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Technology" type="tns:AuxSPTechnologyType" maxOccurs="4">
									<xs:annotation>
										<xs:documentation>P182</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ElectricSystem">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Technology" type="tns:AuxESTechnologyType">
									<xs:annotation>
										<xs:documentation>P183</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="PneumaticSystem">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Technology" type="tns:AuxPSTechnologyType">
									<xs:annotation>
										<xs:documentation>P184</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="HVAC">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Technology" type="tns:AuxHVACTechnologyType">
									<xs:annotation>
										<xs:documentation>P185</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AxleDeclarationType">
		<xs:sequence>
			<xs:element name="AxleType" type="tns:AxleTypeDeclarationType">
				<xs:annotation>
					<xs:documentation>P154 - enum</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TwinTyres" type="tns:AxleTwinTyresType">
				<xs:annotation>
					<xs:documentation>P045 - bool</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Steered" type="tns:AxleSteeredType">
				<xs:annotation>
					<xs:documentation>P195 - bool</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tyre" type="tns:TyreDeclarationType"/>
		</xs:sequence>
		<xs:attribute name="axleNumber" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AxlegearComponentDeclarationType">
		<xs:sequence>
			<xs:element name="Data" type="tns:AxlegearDataDeclarationType"/>
			<xs:element name="Signature" type="tns:SignatureType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AxlegearDataDeclarationType">
		<xs:annotation>
			<xs:documentation>Axlegear Component</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:DeclarationPowertrainComponentType">
				<xs:sequence>
					<xs:element name="Manufacturer" type="tns:ManufacturerType">
						<xs:annotation>
							<xs:documentation>P215</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Model" type="tns:ModelType">
						<xs:annotation>
							<xs:documentation>P216</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificationNumber" type="tns:CertificationNumberType">
						<xs:annotation>
							<xs:documentation>P264</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="tns:DateTimeWithTimezone">
						<xs:annotation>
							<xs:documentation>P218</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppVersion" type="tns:AppVersionType">
						<xs:annotation>
							<xs:documentation>P219</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LineType" type="tns:AxlegearLineTypeType">
						<xs:annotation>
							<xs:documentation>P253 - [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ratio" type="tns:AxlegearRatioType">
						<xs:annotation>
							<xs:documentation>P150 - [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificationMethod" type="tns:AxlegearCertificationOptionType">
						<xs:annotation>
							<xs:documentation>P256 - [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TorqueLossMap">
						<xs:complexType>
							<xs:sequence minOccurs="4" maxOccurs="unbounded">
								<xs:element name="Entry" type="tns:AxlegearTorqueLossMapEntryType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AxlegearTorqueLossMapEntryType">
		<xs:attribute name="inputSpeed" type="tns:AxlegearInputSpeedType" use="required">
			<xs:annotation>
				<xs:documentation>P151 - [1/min]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="inputTorque" type="tns:AxlegearInputTorqueType" use="required">
			<xs:annotation>
				<xs:documentation>P152 - [Nm]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="torqueLoss" type="tns:AxlegearTorqueLossType" use="required">
			<xs:annotation>
				<xs:documentation>P153 - [Nm]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AxlegearTorqueLossMapType"/>
	<xs:complexType name="AxleWheelsComponentDeclarationType">
		<xs:sequence>
			<xs:element name="Data" type="tns:AxleWheelsDataDeclarationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AxleWheelsDataDeclarationType">
		<xs:annotation>
			<xs:documentation>Axles &amp; Wheels Component</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Axles">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Axle" type="tns:AxleDeclarationType" minOccurs="2" maxOccurs="4"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeclarationPowertrainComponentType" abstract="true">
		<xs:complexContent>
			<xs:extension base="tns:VectoSimulationComponent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EngineComponentDeclarationType">
		<xs:sequence>
			<xs:element name="Data" type="tns:EngineDataDeclarationType"/>
			<xs:element name="Signature" type="tns:SignatureType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EngineDataBaseType">
		<xs:annotation>
			<xs:documentation>Engine Component</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:DeclarationPowertrainComponentType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EngineDataDeclarationType">
		<xs:complexContent>
			<xs:extension base="tns:EngineDataBaseType">
				<xs:sequence>
					<xs:element name="Manufacturer" type="tns:ManufacturerType">
						<xs:annotation>
							<xs:documentation>P200</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Model" type="tns:ModelType">
						<xs:annotation>
							<xs:documentation>P201</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificationNumber" type="tns:CertificationNumberType">
						<xs:annotation>
							<xs:documentation>P261</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="tns:DateTimeWithTimezone">
						<xs:annotation>
							<xs:documentation>P203</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppVersion" type="tns:AppVersionType">
						<xs:annotation>
							<xs:documentation>P204</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Displacement" type="tns:EngineDisplacementType" nillable="false">
						<xs:annotation>
							<xs:documentation>P061 - [cm³]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdlingSpeed" type="tns:EngineDeclaredSpeedType">
						<xs:annotation>
							<xs:documentation>P063 - [1/min]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RatedSpeed" type="tns:EngineDeclaredSpeedType">
						<xs:annotation>
							<xs:documentation>P249 - [1/min]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RatedPower" type="tns:EngineRatedPower">
						<xs:annotation>
							<xs:documentation>P250 - [W]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxEngineTorque" type="tns:EngineMaxTorque">
						<xs:annotation>
							<xs:documentation>P259 - [Nm]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WHTCUrban" type="tns:EngineWHTCType">
						<xs:annotation>
							<xs:documentation>P109 - [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WHTCRural" type="tns:EngineWHTCType">
						<xs:annotation>
							<xs:documentation>P110 - [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WHTCMotorway" type="tns:EngineWHTCType">
						<xs:annotation>
							<xs:documentation>P111 - [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BFColdHot" type="tns:EngineColdHotBalancingFactorType">
						<xs:annotation>
							<xs:documentation>P159 - [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CFRegPer" type="tns:EngineCFRegPerType">
						<xs:annotation>
							<xs:documentation>P192 [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CFNCV" type="tns:EngineNCVCFType">
						<xs:annotation>
							<xs:documentation>P260 - [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FuelType" type="tns:FuelTypeType">
						<xs:annotation>
							<xs:documentation>P193 [enum]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FuelConsumptionMap">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Entry" type="tns:FuelConsumptionEntryType" minOccurs="4" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="FullLoadAndDragCurve">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Entry" type="tns:FullLoadAndDragCurveEntryType" minOccurs="2" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EngineStartStopDeclarationType">
		<xs:sequence>
			<xs:element name="Enabled" type="tns:ADASEngineStartStopEnabled">
				<xs:annotation>
					<xs:documentation>P010 </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FuelConsumptionEntryType">
		<xs:attribute name="engineSpeed" type="tns:EngineSpeedType" use="required">
			<xs:annotation>
				<xs:documentation>P072 - [1/min]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="torque" type="tns:EngineFuelConsumptionMapTorqueType" use="required">
			<xs:annotation>
				<xs:documentation>P073 - [Nm]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fuelConsumption" type="tns:EngineFuelConsumptionMapFuelConsumptionType" use="required">
			<xs:annotation>
				<xs:documentation>P074 - [g/h]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FullLoadAndDragCurveEntryType">
		<xs:attribute name="engineSpeed" type="tns:EngineSpeedType" use="required">
			<xs:annotation>
				<xs:documentation>P068 - [1/min]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxTorque" type="tns:EngineFLDMaxTorqueType" use="required">
			<xs:annotation>
				<xs:documentation>P069 - [N]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dragTorque" type="tns:EngineFLDDragTorqueType" use="required">
			<xs:annotation>
				<xs:documentation>P070 - [N]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FullLoadCurveType"/>
	<xs:complexType name="GearBaseType">
		<xs:sequence>
			<xs:element name="Ratio" type="tns:GearboxGearRatioType">
				<xs:annotation>
					<xs:documentation>P078 - [-]</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="number" type="tns:GearboxGearNumberType" use="required">
			<xs:annotation>
				<xs:documentation>P199 - [-]</xs:documentation>
				<xs:appinfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GearboxComponentDeclarationType">
		<xs:sequence>
			<xs:element name="Data" type="tns:GearboxDataDeclarationType"/>
			<xs:element name="Signature" type="tns:SignatureType"/>
			<xs:element name="TorqueConverter" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:TorqueConverterComponentDeclarationType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GearboxDataDeclarationType">
		<xs:annotation>
			<xs:documentation>Gearbox Component</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:DeclarationPowertrainComponentType">
				<xs:sequence>
					<xs:element name="Manufacturer" type="tns:ManufacturerType">
						<xs:annotation>
							<xs:documentation>P205</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Model" type="tns:ModelType">
						<xs:annotation>
							<xs:documentation>P206</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificationNumber" type="tns:CertificationNumberType">
						<xs:annotation>
							<xs:documentation>P262</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="tns:DateTimeWithTimezone">
						<xs:annotation>
							<xs:documentation>P208</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppVersion" type="tns:AppVersionType">
						<xs:annotation>
							<xs:documentation>P209</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransmissionType" type="tns:GearboxTransmissionTypeType">
						<xs:annotation>
							<xs:documentation>P076 - [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MainCertificationMethod" type="tns:GearboxCertificationOptionType">
						<xs:annotation>
							<xs:documentation>P254 - [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Gears">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Gear" type="tns:GearDeclarationType" maxOccurs="99"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GearDeclarationType">
		<xs:complexContent>
			<xs:extension base="tns:GearBaseType">
				<xs:sequence>
					<xs:element name="MaxTorque" type="tns:GearboxGearMaxTorqueType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>P157 - [Nm]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxSpeed" type="tns:GearboxGearMaxSpeedType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>P194 - [1/min]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TorqueLossMap">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="tns:TorqueLossMapType">
									<xs:sequence>
										<xs:element name="Entry" type="tns:TorqueLossMapEntryType" minOccurs="4" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RetarderComponentDeclarationType">
		<xs:sequence>
			<xs:element name="Data" type="tns:RetarderDataDeclarationType"/>
			<xs:element name="Signature" type="tns:SignatureType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetarderDataDeclarationType">
		<xs:annotation>
			<xs:documentation>Retarder Component</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:DeclarationPowertrainComponentType">
				<xs:sequence>
					<xs:element name="Manufacturer" type="tns:ManufacturerType">
						<xs:annotation>
							<xs:documentation>P225</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Model" type="tns:ModelType">
						<xs:annotation>
							<xs:documentation>P226</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificationNumber" type="tns:CertificationNumberType">
						<xs:annotation>
							<xs:documentation>P266</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="tns:DateTimeWithTimezone">
						<xs:annotation>
							<xs:documentation>P228</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppVersion" type="tns:AppVersionType">
						<xs:annotation>
							<xs:documentation>P229</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificationMethod" type="tns:RetarderCertificationOptionType">
						<xs:annotation>
							<xs:documentation>P255 - [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RetarderLossMap">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Entry" type="tns:RetarderLossmapEntryType" minOccurs="2" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RetarderLossmapEntryType">
		<xs:attribute name="retarderSpeed" type="tns:RetarderSpeedType" use="required">
			<xs:annotation>
				<xs:documentation>P057 - [1/min]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="torqueLoss" type="tns:RetarderTorqueLossType" use="required">
			<xs:annotation>
				<xs:documentation>P058 - [Nm]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SignatureType">
		<xs:annotation>
			<xs:documentation>Placeholder (so far)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="di:Reference"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TorqueConverterCharacteristicsEntryType">
		<xs:attribute name="speedRatio" type="tns:TorqueConverterSpeedRatioType" use="required">
			<xs:annotation>
				<xs:documentation>P099 - [-]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="torqueRatio" type="tns:TorqueConverterTorqueRatioType" use="required">
			<xs:annotation>
				<xs:documentation>P100 - [-]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="inputTorqueRef" type="tns:TorqueConverterInputTorqueRefType" use="required">
			<xs:annotation>
				<xs:documentation>P101 - [-]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TorqueConverterComponentDeclarationType">
		<xs:sequence>
			<xs:element name="Data" type="tns:TorqueConverterDeclarationDataType"/>
			<xs:element name="Signature" type="tns:SignatureType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TorqueConverterDeclarationDataType">
		<xs:complexContent>
			<xs:extension base="tns:DeclarationPowertrainComponentType">
				<xs:sequence>
					<xs:element name="Manufacturer" type="tns:ManufacturerType">
						<xs:annotation>
							<xs:documentation>P210</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Model" type="tns:ModelType">
						<xs:annotation>
							<xs:documentation>P211</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificationNumber" type="tns:CertificationNumberType">
						<xs:annotation>
							<xs:documentation>P263</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="tns:DateTimeWithTimezone">
						<xs:annotation>
							<xs:documentation>P213</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppVersion" type="tns:AppVersionType">
						<xs:annotation>
							<xs:documentation>P214</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificationMethod" type="tns:TorqueConverterCertificationOptionType">
						<xs:annotation>
							<xs:documentation>P257 - [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Characteristics">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Entry" type="tns:TorqueConverterCharacteristicsEntryType" minOccurs="2" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TorqueLimitsEntryType">
		<xs:attribute name="gear" type="tns:GearboxGearNumberType" use="required">
			<xs:annotation>
				<xs:documentation>P196 - [-]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxTorque" type="tns:TorqueLimitEntryMaxTorqueType" use="required">
			<xs:annotation>
				<xs:documentation>P197 - [Nm]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TorqueLimitsType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Entry" type="tns:TorqueLimitsEntryType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TorqueLossMapEntryType">
		<xs:attribute name="inputSpeed" type="tns:GearboxGearInputSpeedType" use="required">
			<xs:annotation>
				<xs:documentation>P096 - [1/min]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="inputTorque" type="tns:GearboxGearInputTorqueType" use="required">
			<xs:annotation>
				<xs:documentation>P097 - [Nm]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="torqueLoss" type="tns:GearboxGearTorqueLossType" use="required">
			<xs:annotation>
				<xs:documentation>P098 - [Nm]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TorqueLossMapType"/>
	<xs:complexType name="TyreDataDeclarationType">
		<xs:complexContent>
			<xs:extension base="tns:DeclarationPowertrainComponentType">
				<xs:sequence>
					<xs:element name="Manufacturer" type="tns:ManufacturerType">
						<xs:annotation>
							<xs:documentation>P230</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Model" type="tns:ModelType">
						<xs:annotation>
							<xs:documentation>P231</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificationNumber" type="tns:CertificationNumberType">
						<xs:annotation>
							<xs:documentation>P267</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="tns:DateTimeWithTimezone">
						<xs:annotation>
							<xs:documentation>P233</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppVersion" type="tns:AppVersionType">
						<xs:annotation>
							<xs:documentation>P234</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Dimension" type="tns:TyreDimensionType">
						<xs:annotation>
							<xs:documentation>P108 - enum</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RRCDeclared" type="tns:TyreRRCISOType">
						<xs:annotation>
							<xs:documentation>P046 - [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FzISO" type="tns:TyreFzISOType">
						<xs:annotation>
							<xs:documentation>P047 - [N]</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TyreDeclarationType">
		<xs:sequence>
			<xs:element name="Data" type="tns:TyreDataDeclarationType"/>
			<xs:element name="Signature" type="tns:SignatureType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VectoDeclarationJobType">
		<xs:sequence>
			<xs:element name="Vehicle">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:VehicleDeclarationType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:minExclusive value="0"/>
					<xs:fractionDigits value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="VectoSimulationComponent" abstract="true">
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NCName">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="VehicleBaseType">
		<xs:complexContent>
			<xs:extension base="tns:DeclarationPowertrainComponentType">
				<xs:sequence>
					<xs:element name="Manufacturer" type="tns:ManufacturerType">
						<xs:annotation>
							<xs:documentation>P235</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ManufacturerAddress" type="tns:ManufacturerAddressType">
						<xs:annotation>
							<xs:documentation>P252</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Model" type="tns:ModelType">
						<xs:annotation>
							<xs:documentation>P236</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VIN" type="tns:VINType">
						<xs:annotation>
							<xs:documentation>P238</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="tns:DateTimeWithTimezone">
						<xs:annotation>
							<xs:documentation>P239</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LegislativeClass" type="tns:LegislativeClassDeclarationType">
						<xs:annotation>
							<xs:documentation>P251 - enum</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VehicleCategory" type="tns:VehicleCategoryDeclarationType">
						<xs:annotation>
							<xs:documentation>P036 - enum</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AxleConfiguration" type="tns:VehicleAxleConfigurationDeclarationType">
						<xs:annotation>
							<xs:documentation>P037 - enum</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurbMassChassis" type="tns:VehicleCurbMassChassisType">
						<xs:annotation>
							<xs:documentation>P038 - [kg]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GrossVehicleMass" type="tns:VehicleGrossVehicleMassType">
						<xs:annotation>
							<xs:documentation>P041 - [kg]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdlingSpeed" type="tns:EngineDeclaredSpeedType">
						<xs:annotation>
							<xs:documentation>P198 - [1/min]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RetarderType" type="tns:RetarderTypeType">
						<xs:annotation>
							<xs:documentation>P052 - enum</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RetarderRatio" type="tns:RetarderRatioType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>P053 - [-]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AngledriveType" type="tns:AngledriveTypeType">
						<xs:annotation>
							<xs:documentation>P180 - enum</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PTO">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="PTOShaftsGearWheels" type="tns:PTOShaftsGearWheelsType">
									<xs:annotation>
										<xs:documentation>P247 - enum</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PTOOtherElements" type="tns:PTOOtherElementsType">
									<xs:annotation>
										<xs:documentation>P248 - enum</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VehicleDeclarationType">
		<xs:complexContent>
			<xs:extension base="tns:VehicleBaseType">
				<xs:sequence>
					<xs:element name="TorqueLimits" type="tns:TorqueLimitsType" minOccurs="0"/>
					<xs:element name="Components">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Engine" type="tns:EngineComponentDeclarationType"/>
								<xs:element name="Gearbox" type="tns:GearboxComponentDeclarationType"/>
								<xs:element name="Angledrive" type="tns:AngledriveComponentDeclarationType" minOccurs="0"/>
								<xs:element name="Retarder" type="tns:RetarderComponentDeclarationType" minOccurs="0"/>
								<xs:element name="Axlegear" type="tns:AxlegearComponentDeclarationType"/>
								<xs:element name="AxleWheels" type="tns:AxleWheelsComponentDeclarationType"/>
								<xs:element name="Auxiliaries" type="tns:AuxiliariesComponentDeclarationType"/>
								<xs:element name="AirDrag" type="tns:AirDragComponentDeclarationType" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ADASEngineStartStopEnabled">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="ADAS">010</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P010 - bool</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="ADASOverspeedModeDeclarationType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="ADAS">015</vectoParam:parameterId>
					<vectoParam:comment/>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P015 - enum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Overspeed"/>
			<xs:enumeration value="EcoRoll"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirdragCdxAType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Airdrag">245</vectoParam:parameterId>
					<vectoParam:parameterId component="Airdrag">246</vectoParam:parameterId>
					<vectoParam:parameterId component="Airdrag">146</vectoParam:parameterId>
					<vectoParam:comment>In Declaration Mode a fixed amound is added for cycles simulated with trailer</vectoParam:comment>
					<vectoParam:unit>m²</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P146, 147 - [m²]  Drag Coefficient * Cross Sectional Area</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2">
			<xs:minExclusive value="0.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AngledriveCertificationOptionType">
		<xs:annotation>
			<xs:documentation>P258 - enum</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Angledrive">258</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Option 1"/>
			<xs:enumeration value="Option 2"/>
			<xs:enumeration value="Option 3"/>
			<xs:enumeration value="Standard values"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AngledriveInputSpeedType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Angledrive/Lossmap">173</vectoParam:parameterId>
					<vectoParam:unit>1/min</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P173</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2">
			<xs:minInclusive value="0.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AngledriveInputTorqueType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Angledrive/Lossmap">174</vectoParam:parameterId>
					<vectoParam:unit>Nm</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P174</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2"/>
	</xs:simpleType>
	<xs:simpleType name="AngledriveRatioType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Angledrive">176</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P176</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double3">
			<xs:minExclusive value="0.000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AngledriveTorqueLossType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Angledrive/Lossmap">175</vectoParam:parameterId>
					<vectoParam:unit>Nm</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P175</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2">
			<xs:minInclusive value="0.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AngledriveTypeType">
		<xs:annotation>
			<xs:documentation>P180</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle">180</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Losses included in Gearbox"/>
			<xs:enumeration value="Separate Angledrive"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AppVersionType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine">204</vectoParam:parameterId>
					<vectoParam:parameterId component="Gearbox">209</vectoParam:parameterId>
					<vectoParam:parameterId component="Torqueconverter">214</vectoParam:parameterId>
					<vectoParam:parameterId component="Axlegear">219</vectoParam:parameterId>
					<vectoParam:parameterId component="Angledrive">224</vectoParam:parameterId>
					<vectoParam:parameterId component="Retarder">229</vectoParam:parameterId>
					<vectoParam:parameterId component="Tyre">234</vectoParam:parameterId>
					<vectoParam:parameterId component="Airdrag">244</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuxESTechnologyType">
		<xs:annotation>
			<xs:documentation>P183</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle/Auxiliaries">183</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Standard technology"/>
			<xs:enumeration value="Standard technology - LED headlights, all"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuxFanTechnologyType">
		<xs:annotation>
			<xs:documentation>P181</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle/Auxiliaries">181</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Crankshaft mounted - Electronically controlled visco clutch"/>
			<xs:enumeration value="Crankshaft mounted - Bimetallic controlled visco clutch"/>
			<xs:enumeration value="Crankshaft mounted - Discrete step clutch"/>
			<xs:enumeration value="Crankshaft mounted - On/off clutch"/>
			<xs:enumeration value="Belt driven or driven via transm. - Electronically controlled visco clutch"/>
			<xs:enumeration value="Belt driven or driven via transm. - Bimetallic controlled visco clutch"/>
			<xs:enumeration value="Belt driven or driven via transm. - Discrete step clutch"/>
			<xs:enumeration value="Belt driven or driven via transm. - On/off clutch"/>
			<xs:enumeration value="Hydraulic driven - Variable displacement pump"/>
			<xs:enumeration value="Hydraulic driven - Constant displacement pump"/>
			<xs:enumeration value="Electrically driven - Electronically controlled"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuxHVACTechnologyType">
		<xs:annotation>
			<xs:documentation>P185</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle/Auxiliaries">185</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Default"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuxiliaryTechlistEntryType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle/Auxiliaries" status="deprecated">143</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>DEPRECATED  - P143 - enum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="LED lights"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuxiliaryTechnologyType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle/Auxiliaries" status="deprecated">118</vectoParam:parameterId>
					<vectoParam:comment>Valid technology selection depends on the Auxiliary Type (P005)</vectoParam:comment>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>DEPRECATED  - P118 - enum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Default"/>
			<xs:enumeration value="Fixed displacement"/>
			<xs:enumeration value="Variable displacement"/>
			<xs:enumeration value="Hydraulic supported by electric"/>
			<xs:enumeration value="Crankshaft mounted - Electronically controlled visco clutch (Default)"/>
			<xs:enumeration value="Crankshaft mounted - Bimetallic controlled visco clutch"/>
			<xs:enumeration value="Crankshaft mounted - Discrete step clutch"/>
			<xs:enumeration value="Crankshaft mounted - On/Off clutch"/>
			<xs:enumeration value="Belt driven or driven via transm. - Electronically controlled visco clutch"/>
			<xs:enumeration value="Belt driven or driven via transm. - Bimetallic controlled visco clutch"/>
			<xs:enumeration value="Belt driven or driven via transm. - Discrete step clutch"/>
			<xs:enumeration value="Belt driven or driven via transm. - On/Off clutch"/>
			<xs:enumeration value="Hydraulic driven - Variable displacement pump"/>
			<xs:enumeration value="Hydraulic driven - Constant displacement pump"/>
			<xs:enumeration value="Hydraulic driven - Electronically controlled"/>
			<xs:enumeration value="Custom Technology List"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuxiliaryTypeType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle/Auxiliaries" status="deprecated">005</vectoParam:parameterId>
					<vectoParam:comment>List of auxiliary types predefined in delcaration mode, Technology (P118) and TechList (P143) must be specified</vectoParam:comment>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>DEPRECATED  - P005 - enum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Fan"/>
			<xs:enumeration value="Steering pump"/>
			<xs:enumeration value="HVAC"/>
			<xs:enumeration value="Pneumatic System"/>
			<xs:enumeration value="Electric System"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuxPSTechnologyType">
		<xs:annotation>
			<xs:documentation>P184</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle/Auxiliaries">184</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Small"/>
			<xs:enumeration value="Small + ESS"/>
			<xs:enumeration value="Small + visco clutch"/>
			<xs:enumeration value="Small + mech. clutch"/>
			<xs:enumeration value="Small + ESS + AMS"/>
			<xs:enumeration value="Small + visco clutch + AMS"/>
			<xs:enumeration value="Small + mech. clutch + AMS"/>
			<xs:enumeration value="Medium Supply 1-stage"/>
			<xs:enumeration value="Medium Supply 1-stage + ESS"/>
			<xs:enumeration value="Medium Supply 1-stage + visco clutch"/>
			<xs:enumeration value="Medium Supply 1-stage + mech. clutch"/>
			<xs:enumeration value="Medium Supply 1-stage + ESS + AMS"/>
			<xs:enumeration value="Medium Supply 1-stage + visco clutch + AMS"/>
			<xs:enumeration value="Medium Supply 1-stage + mech. clutch + AMS"/>
			<xs:enumeration value="Medium Supply 2-stage"/>
			<xs:enumeration value="Medium Supply 2-stage + ESS"/>
			<xs:enumeration value="Medium Supply 2-stage + visco clutch"/>
			<xs:enumeration value="Medium Supply 2-stage + mech. clutch"/>
			<xs:enumeration value="Medium Supply 2-stage + ESS + AMS"/>
			<xs:enumeration value="Medium Supply 2-stage + visco clutch + AMS"/>
			<xs:enumeration value="Medium Supply 2-stage + mech. clutch + AMS"/>
			<xs:enumeration value="Large Supply"/>
			<xs:enumeration value="Large Supply + ESS"/>
			<xs:enumeration value="Large Supply + visco clutch"/>
			<xs:enumeration value="Large Supply + mech. clutch"/>
			<xs:enumeration value="Large Supply + ESS + AMS"/>
			<xs:enumeration value="Large Supply + visco clutch + AMS"/>
			<xs:enumeration value="Large Supply + mech. clutch + AMS"/>
			<xs:enumeration value="Vacuum pump"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuxSPTechnologyType">
		<xs:annotation>
			<xs:documentation>P182</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle/Auxiliaries">182</vectoParam:parameterId>
					<vectoParam:comment>Multiple entires allowed, one per steered axle</vectoParam:comment>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Fixed displacement"/>
			<xs:enumeration value="Fixed displacement with elec. control"/>
			<xs:enumeration value="Dual displacement"/>
			<xs:enumeration value="Variable displacement mech. controlled"/>
			<xs:enumeration value="Variable displacement elec. controlled"/>
			<xs:enumeration value="Electric"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AxlegearCertificationOptionType">
		<xs:annotation>
			<xs:documentation>P256 - enum</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Axlegear">256</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Measured"/>
			<xs:enumeration value="Standard values"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AxlegearInputSpeedType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Axlegear/Lossmap">151</vectoParam:parameterId>
					<vectoParam:unit>1/min</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P151 - [1/min]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2">
			<xs:minInclusive value="0.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AxlegearInputTorqueType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Axlegear/Lossmap">152</vectoParam:parameterId>
					<vectoParam:unit>Nm</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P152 - [Nm]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2"/>
	</xs:simpleType>
	<xs:simpleType name="AxlegearLineTypeType">
		<xs:annotation>
			<xs:documentation>P253 - enum</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Axlegear">253</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Single reduction axle"/>
			<xs:enumeration value="Single portal axle"/>
			<xs:enumeration value="Hub reduction axle"/>
			<xs:enumeration value="Single reduction tandem axle"/>
			<xs:enumeration value="Hub reduction tandem axle"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AxlegearRatioType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Axlegear">150</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P150 - [-]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double3">
			<xs:minExclusive value="0.000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AxlegearTorqueLossType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Axlegear/Lossmap">153</vectoParam:parameterId>
					<vectoParam:unit>Nm</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P153 - [Nm]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2">
			<xs:minInclusive value="0.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AxleSteeredType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle/Axle">195</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P195 - bool</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="AxleTwinTyresType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle/Axle">045</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P045 - bool</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="AxleTypeDeclarationType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle/Axle">154</vectoParam:parameterId>
					<vectoParam:comment>Trailer axles must not be specified in declaration mode!</vectoParam:comment>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P154 - enum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:AxleTypeType">
			<xs:enumeration value="VehicleNonDriven"/>
			<xs:enumeration value="VehicleDriven"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AxleTypeType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle/Axle">154</vectoParam:parameterId>
					<vectoParam:comment>Trailer axles must not be specified in declaration mode!</vectoParam:comment>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P154 - enum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="VehicleNonDriven"/>
			<xs:enumeration value="VehicleDriven"/>
			<xs:enumeration value="Trailer"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CertificationNumberType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine">261</vectoParam:parameterId>
					<vectoParam:parameterId component="Gearbox">262</vectoParam:parameterId>
					<vectoParam:parameterId component="Torqueconverter">263</vectoParam:parameterId>
					<vectoParam:parameterId component="Axlegear">264</vectoParam:parameterId>
					<vectoParam:parameterId component="Angledrive">265</vectoParam:parameterId>
					<vectoParam:parameterId component="Retarder">266</vectoParam:parameterId>
					<vectoParam:parameterId component="Tyre">267</vectoParam:parameterId>
					<vectoParam:parameterId component="Airdrag">268</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P261, P262, P263, P264, P265, P266, P267, P268</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="DateTimeWithTimezone">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine">203</vectoParam:parameterId>
					<vectoParam:parameterId component="Gearbox">208</vectoParam:parameterId>
					<vectoParam:parameterId component="Torqueconverter">213</vectoParam:parameterId>
					<vectoParam:parameterId component="Axlegear">218</vectoParam:parameterId>
					<vectoParam:parameterId component="Angledrive">223</vectoParam:parameterId>
					<vectoParam:parameterId component="Retarder">228</vectoParam:parameterId>
					<vectoParam:parameterId component="Tyre">233</vectoParam:parameterId>
					<vectoParam:parameterId component="Airdrag">243</vectoParam:parameterId>
					<vectoParam:parameterId component="Vehicle">239</vectoParam:parameterId>
					<vectoParam:comment>Date and time when the component-hash is created</vectoParam:comment>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:minInclusive value="2017-01-01T00:00:00Z"/>
			<xs:pattern value=".+T.+Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Double2">
		<xs:annotation>
			<xs:documentation>
VALID: 23.00, 0.12, 12.12, 0.00, -0.12, 12345.01
INVALID: 1.2345, .1234, 01.23
ToDo: -0.00
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:pattern value="[-]?([1-9][0-9]*|0)\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Double3">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="[-]?([1-9][0-9]*|0)\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Double4">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="[-]?([1-9][0-9]*|0)\.[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Double5">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="[-]?([1-9][0-9]*|0)\.[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Double6">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="[-]?([1-9][0-9]*|0)\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EngineCFRegPerType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine">192</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="tns:Double4">
			<xs:minInclusive value="1.0000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EngineColdHotBalancingFactorType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine">159</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P159 - [-]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double4">
			<xs:minInclusive value="1.0000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EngineDeclaredSpeedType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine">063</vectoParam:parameterId>
					<vectoParam:parameterId component="Vehicle">198</vectoParam:parameterId>
					<vectoParam:parameterId component="Engine">249</vectoParam:parameterId>
					<vectoParam:unit>1/min</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P063, P249 - [1/min]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EngineDisplacementType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine">061</vectoParam:parameterId>
					<vectoParam:unit>cm³</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P061 - [cm³]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EngineFLDDragTorqueType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine/FLD">070</vectoParam:parameterId>
					<vectoParam:unit>Nm</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P070 - [Nm]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2">
			<xs:maxInclusive value="0.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EngineFLDMaxTorqueType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine/FLD">069</vectoParam:parameterId>
					<vectoParam:parameterId component="Engine/FLD" status="deprecated">158</vectoParam:parameterId>
					<vectoParam:unit>Nm</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P069 - [Nm]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2">
			<xs:minInclusive value="0.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EngineFuelConsumptionMapFuelConsumptionType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine/FC-map">074</vectoParam:parameterId>
					<vectoParam:unit>g/h</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P074 - [g/h]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2">
			<xs:minInclusive value="0.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EngineFuelConsumptionMapTorqueType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine/FC-map">073</vectoParam:parameterId>
					<vectoParam:unit>Nm</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P073 - [Nm]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2"/>
	</xs:simpleType>
	<xs:simpleType name="EngineMaxTorque">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine">259</vectoParam:parameterId>
					<vectoParam:comment/>
					<vectoParam:unit>Nm</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P259</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="EngineNCVCFType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine">260</vectoParam:parameterId>
					<vectoParam:comment/>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P260</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double4"/>
	</xs:simpleType>
	<xs:simpleType name="EngineRatedPower">
		<xs:annotation>
			<xs:documentation>P250</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine">250</vectoParam:parameterId>
					<vectoParam:unit>W</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EngineSpeedType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine/FLD">068</vectoParam:parameterId>
					<vectoParam:parameterId component="Engine/FC-map">072</vectoParam:parameterId>
					<vectoParam:unit>1/min</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P068, P072 - [1/min]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2">
			<xs:minExclusive value="0.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EngineWHTCType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine">109</vectoParam:parameterId>
					<vectoParam:parameterId component="Engine">110</vectoParam:parameterId>
					<vectoParam:parameterId component="Engine">111</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P109 - [-]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double4">
			<xs:minInclusive value="1.0000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FuelTypeType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine">193</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Diesel CI"/>
			<xs:enumeration value="Ethanol CI"/>
			<xs:enumeration value="Petrol PI"/>
			<xs:enumeration value="Ethanol PI"/>
			<xs:enumeration value="LPG"/>
			<xs:enumeration value="NG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GearboxCertificationOptionType">
		<xs:annotation>
			<xs:documentation>P254 - enum</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Gearbox">254</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Option 1"/>
			<xs:enumeration value="Option 2"/>
			<xs:enumeration value="Option 3"/>
			<xs:enumeration value="Standard values"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GearboxGearFLDInputSpeedType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Gearbox" status="deprecated">148</vectoParam:parameterId>
					<vectoParam:unit>1/min</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P148 - [1/min] - DEPRECATED</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:minInclusive value="400"/>
			<xs:maxInclusive value="5000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GearboxGearFLDMaxTorqueType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Gearbox" status="deprecated">149</vectoParam:parameterId>
					<vectoParam:unit>Nm</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P149 - [Nm] - DEPRECATED</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:maxInclusive value="10000"/>
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GearboxGearInputSpeedType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Gearbox/Gear/Lossmap">096</vectoParam:parameterId>
					<vectoParam:unit>1/min</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P096 - [1/min]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2">
			<xs:minInclusive value="0.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GearboxGearInputTorqueType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Gearbox/Gear/Lossmap">097</vectoParam:parameterId>
					<vectoParam:unit>Nm</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P097 - [Nm]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2"/>
	</xs:simpleType>
	<xs:simpleType name="GearboxGearMaxSpeedType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Gearbox/Gear">194</vectoParam:parameterId>
					<vectoParam:unit>1/min</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P097 - [Nm]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GearboxGearMaxTorqueType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Gearbox/Gear">157</vectoParam:parameterId>
					<vectoParam:comment/>
					<vectoParam:unit>Nm</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P157 - [Nm]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GearboxGearNumberType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Gearbox/Gear">199</vectoParam:parameterId>
					<vectoParam:parameterId component="Vehicle/TorqueLimits">196</vectoParam:parameterId>
					<vectoParam:comment/>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P196, P199</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GearboxGearRatioType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Gearbox/Gear">078</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P078 - [-]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double3">
			<xs:minExclusive value="0.000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GearboxGearTorqueLossType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Gearbox/Gear/Lossmap">098</vectoParam:parameterId>
					<vectoParam:unit>Nm</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P098 - [Nm]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2">
			<xs:minInclusive value="0.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GearboxTransmissionTypeType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Gearbox">076</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P076 - [-]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SMT"/>
			<xs:enumeration value="AMT"/>
			<xs:enumeration value="APT-S"/>
			<xs:enumeration value="APT-P"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LegislativeClassDeclarationType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle">251</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P251 - enum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="N2"/>
			<xs:enumeration value="N3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ManufacturerAddressType">
		<xs:annotation>
			<xs:documentation>P252</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle">252</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="ManufacturerType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine">200</vectoParam:parameterId>
					<vectoParam:parameterId component="Gearbox">205</vectoParam:parameterId>
					<vectoParam:parameterId component="Torqueconverter">210</vectoParam:parameterId>
					<vectoParam:parameterId component="Axlegear">215</vectoParam:parameterId>
					<vectoParam:parameterId component="Angledrive">220</vectoParam:parameterId>
					<vectoParam:parameterId component="Retarder">225</vectoParam:parameterId>
					<vectoParam:parameterId component="Tyre">230</vectoParam:parameterId>
					<vectoParam:parameterId component="Airdrag">240</vectoParam:parameterId>
					<vectoParam:parameterId component="Vehicle">235</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ModelType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Engine">201</vectoParam:parameterId>
					<vectoParam:parameterId component="Gearbox">206</vectoParam:parameterId>
					<vectoParam:parameterId component="Torqueconverter">211</vectoParam:parameterId>
					<vectoParam:parameterId component="Axlegear">216</vectoParam:parameterId>
					<vectoParam:parameterId component="Angledrive">221</vectoParam:parameterId>
					<vectoParam:parameterId component="Retarder">226</vectoParam:parameterId>
					<vectoParam:parameterId component="Tyre">231</vectoParam:parameterId>
					<vectoParam:parameterId component="Airdrag">241</vectoParam:parameterId>
					<vectoParam:parameterId component="Vehicle">236</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PTOOtherElementsType">
		<xs:annotation>
			<xs:documentation>P248 - enum</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle">248</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="shift claw, synchronizer, sliding gearwheel"/>
			<xs:enumeration value="multi-disc clutch"/>
			<xs:enumeration value="multi-disc clutch, oil pump"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PTOShaftsGearWheelsType">
		<xs:annotation>
			<xs:documentation>P247 - enum</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle">247</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="only the drive shaft of the PTO"/>
			<xs:enumeration value="drive shaft and/or up to 2 gear wheels"/>
			<xs:enumeration value="drive shaft and/or more than 2 gear wheels"/>
			<xs:enumeration value="only one engaged gearwheel above oil level"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PTOTorqueLossType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Retarder">058</vectoParam:parameterId>
					<vectoParam:unit>Nm</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P058 - [Nm]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PTOTypeType">
		<xs:annotation>
			<xs:documentation>P186 - enum -- DEPRECATED</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle" status="deprecated">186</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Losses included in Gearbox"/>
			<xs:enumeration value="only the drive shaft of the PTO - shift claw, synchronizer, sliding gearwheel"/>
			<xs:enumeration value="only the drive shaft of the PTO - multi-disc clutch"/>
			<xs:enumeration value="only the drive shaft of the PTO - multi-disc clutch, oil pump"/>
			<xs:enumeration value="drive shaft and/or up to 2 gear wheels - shift claw, synchronizer, sliding gearwheel"/>
			<xs:enumeration value="drive shaft and/or up to 2 gear wheels - multi-disc clutch"/>
			<xs:enumeration value="drive shaft and/or up to 2 gear wheels - multi-disc clutch, oil pump"/>
			<xs:enumeration value="drive shaft and/or more than 2 gear wheels - shift claw, synchronizer, sliding gearwheel"/>
			<xs:enumeration value="drive shaft and/or more than 2 gear wheels - multi-disc clutch"/>
			<xs:enumeration value="drive shaft and/or more than 2 gear wheels - multi-disc clutch, oil pump"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RetarderCertificationOptionType">
		<xs:annotation>
			<xs:documentation>P255 - enum</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Retarder">255</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Measured"/>
			<xs:enumeration value="Standard values"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RetarderRatioType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle">053</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P053 - [-]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double3">
			<xs:minExclusive value="0.000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RetarderSpeedType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Retarder/Lossmap">057</vectoParam:parameterId>
					<vectoParam:unit>1/min</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P057 - [1/min]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2">
			<xs:minInclusive value="0.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RetarderTorqueLossType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Retarder/Lossmap">058</vectoParam:parameterId>
					<vectoParam:unit>Nm</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P058 - [Nm]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double2">
			<xs:minInclusive value="0.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RetarderTypeType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle">052</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P052 - enum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Losses included in Gearbox"/>
			<xs:enumeration value="Engine Retarder"/>
			<xs:enumeration value="Transmission Input Retarder"/>
			<xs:enumeration value="Transmission Output Retarder"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SteeredAxlesType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle">179</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TorqueConverterCertificationOptionType">
		<xs:annotation>
			<xs:documentation>P257 - enum</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Torqueconverter">257</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Measured"/>
			<xs:enumeration value="Standard values"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TorqueConverterInputTorqueRefType">
		<xs:annotation>
			<xs:documentation>P101</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Torqueconverter/Characteristics">101</vectoParam:parameterId>
					<vectoParam:unit>Nm</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="tns:Double2"/>
	</xs:simpleType>
	<xs:simpleType name="TorqueConverterSpeedRatioType">
		<xs:annotation>
			<xs:documentation>P099</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Torqueconverter/Characteristics">99</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="tns:Double4">
			<xs:minInclusive value="0.0000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TorqueConverterTorqueRatioType">
		<xs:annotation>
			<xs:documentation>P100</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Torqueconverter/Characteristics">100</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="tns:Double2">
			<xs:minInclusive value="0.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TorqueLimitEntryMaxTorqueType">
		<xs:annotation>
			<xs:documentation>P197</xs:documentation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle/TorqueLimits">197</vectoParam:parameterId>
					<vectoParam:unit>Nm</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TyreDimensionType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Tyre">108</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P108 - enum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="9 R22.5"/>
			<xs:enumeration value="9.00 R20"/>
			<xs:enumeration value="9.5 R17.5"/>
			<xs:enumeration value="10 R17.5"/>
			<xs:enumeration value="10 R22.5"/>
			<xs:enumeration value="10.00 R20"/>
			<xs:enumeration value="11 R22.5"/>
			<xs:enumeration value="11.00 R20"/>
			<xs:enumeration value="12 R22.5"/>
			<xs:enumeration value="12.00 R20"/>
			<xs:enumeration value="12.00 R24"/>
			<xs:enumeration value="12.5 R20"/>
			<xs:enumeration value="13 R22.5"/>
			<xs:enumeration value="14.00 R20"/>
			<xs:enumeration value="14.5 R20"/>
			<xs:enumeration value="16.00 R20"/>
			<xs:enumeration value="205/75 R17.5"/>
			<xs:enumeration value="215/75 R17.5"/>
			<xs:enumeration value="225/70 R17.5"/>
			<xs:enumeration value="225/75 R17.5"/>
			<xs:enumeration value="235/75 R17.5"/>
			<xs:enumeration value="245/70 R17.5"/>
			<xs:enumeration value="245/70 R19.5"/>
			<xs:enumeration value="255/70 R22.5"/>
			<xs:enumeration value="265/70 R17.5"/>
			<xs:enumeration value="265/70 R19.5"/>
			<xs:enumeration value="275/70 R22.5"/>
			<xs:enumeration value="275/80 R22.5"/>
			<xs:enumeration value="285/60 R22.5"/>
			<xs:enumeration value="285/70 R19.5"/>
			<xs:enumeration value="295/55 R22.5"/>
			<xs:enumeration value="295/60 R22.5"/>
			<xs:enumeration value="295/80 R22.5"/>
			<xs:enumeration value="305/60 R22.5"/>
			<xs:enumeration value="305/70 R19.5"/>
			<xs:enumeration value="305/70 R22.5"/>
			<xs:enumeration value="305/75 R24.5"/>
			<xs:enumeration value="315/45 R22.5"/>
			<xs:enumeration value="315/60 R22.5"/>
			<xs:enumeration value="315/70 R22.5"/>
			<xs:enumeration value="315/80 R22.5"/>
			<xs:enumeration value="325/95 R24"/>
			<xs:enumeration value="335/80 R20"/>
			<xs:enumeration value="355/50 R22.5"/>
			<xs:enumeration value="365/70 R22.5"/>
			<xs:enumeration value="365/80 R20"/>
			<xs:enumeration value="365/85 R20"/>
			<xs:enumeration value="375/45 R22.5"/>
			<xs:enumeration value="375/50 R22.5"/>
			<xs:enumeration value="375/90 R22.5"/>
			<xs:enumeration value="385/55 R22.5"/>
			<xs:enumeration value="385/65 R22.5"/>
			<xs:enumeration value="395/85 R20"/>
			<xs:enumeration value="425/65 R22.5"/>
			<xs:enumeration value="495/45 R22.5"/>
			<xs:enumeration value="525/65 R20.5"/>
			<xs:enumeration value="11.00 R16"/>
			<xs:enumeration value="6.00 R9"/>
			<xs:enumeration value="205/65 R17.5"/>
			<xs:enumeration value="225/75 R16C"/>
			<xs:enumeration value="255/100 R16"/>
			<xs:enumeration value="255/60 R19.5"/>
			<xs:enumeration value="265/55 R19.5"/>
			<xs:enumeration value="275/60 R19.5"/>
			<xs:enumeration value="275/80 R20"/>
			<xs:enumeration value="285/65 R16C"/>
			<xs:enumeration value="295/75 R22.5"/>
			<xs:enumeration value="325/85 R16"/>
			<xs:enumeration value="435/50 R19.5"/>
			<xs:enumeration value="435/50 R22.5"/>
			<xs:enumeration value="445/40 R22.5"/>
			<xs:enumeration value="445/45 R19.5"/>
			<xs:enumeration value="445/65 R22.5"/>
			<xs:enumeration value="445/75 R22.5"/>
			<xs:enumeration value="455/40 R22.5"/>
			<xs:enumeration value="455/45 R22.5"/>
			<xs:enumeration value="475/80 R20"/>
			<xs:enumeration value="7.00 R16C"/>
			<xs:enumeration value="7.50 R15"/>
			<xs:enumeration value="7.50 R16"/>
			<xs:enumeration value="7.50 R16C"/>
			<xs:enumeration value="8.25 R15"/>
			<xs:enumeration value="8.25 R16C"/>
			<xs:enumeration value="8.5 R17.5"/>
			<xs:enumeration value="8 R17.5"/>
			<xs:enumeration value="LT265/75 R16"/>
			<xs:enumeration value="385/55 R19.5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TyreFzISOType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Tyre">047</vectoParam:parameterId>
					<vectoParam:unit>N</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P047 - [N]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TyreRRCISOType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Tyre">046</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P046 - [-]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:Double4">
			<xs:minInclusive value="0.0000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VehicleAxleConfigurationDeclarationType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle">037</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P037</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:VehicleAxleConfigurationType">
			<xs:enumeration value="4x2"/>
			<xs:enumeration value="6x2"/>
			<xs:enumeration value="6x4"/>
			<xs:enumeration value="8x4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VehicleAxleConfigurationType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle">037</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P037</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="4x2"/>
			<xs:enumeration value="4x4"/>
			<xs:enumeration value="6x2"/>
			<xs:enumeration value="6x4"/>
			<xs:enumeration value="6x6"/>
			<xs:enumeration value="8x2"/>
			<xs:enumeration value="8x4"/>
			<xs:enumeration value="8x6"/>
			<xs:enumeration value="8x8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VehicleCategoryDeclarationType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle">036</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P036 - enum (Declaration)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:VehicleCategoryType">
			<xs:enumeration value="Rigid Truck"/>
			<xs:enumeration value="Tractor"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VehicleCategoryType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle">036</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P036 - enum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Rigid Truck"/>
			<xs:enumeration value="Tractor"/>
			<xs:enumeration value="City Bus"/>
			<xs:enumeration value="Interurban Bus"/>
			<xs:enumeration value="Coach"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VehicleCurbMassChassisType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle">038</vectoParam:parameterId>
					<vectoParam:unit>kg</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P038 - [kg]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VehicleGrossVehicleMassType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle">041</vectoParam:parameterId>
					<vectoParam:unit>kg</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P041 - [kg]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="3500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VINType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Vehicle">238</vectoParam:parameterId>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WheelsRimType">
		<xs:annotation>
			<xs:appinfo>
				<vectoParam:description>
					<vectoParam:parameterId component="Tyre" status="deprecated">117</vectoParam:parameterId>
					<vectoParam:comment>driven axle rims</vectoParam:comment>
					<vectoParam:unit>-</vectoParam:unit>
				</vectoParam:description>
			</xs:appinfo>
			<xs:documentation>P117 - enum  (driven axle rims)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="5° DC Rims"/>
			<xs:enumeration value="15° DC Rims"/>
			<xs:enumeration value="Multipurpose - Radial"/>
			<xs:enumeration value="Multipurpose - Diagonal"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
