src/references/Vecto.3.3.5.1812/XML/XSD/VectoOutputManufacturer.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by Helmut Eichlseder (TU Graz/Inst. f. VKM und THD) -->
<!--W3C XML Schema generated by XMLSpy vXMLSpy Professional Edition v2016 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema xmlns="urn:tugraz:ivt:VectoAPI:DeclarationOutput:v0.7" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vdecdef="urn:tugraz:ivt:VectoAPI:DeclarationDefinitions:v1.0" targetNamespace="urn:tugraz:ivt:VectoAPI:DeclarationOutput:v0.7" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.7">
	<xs:import namespace="urn:tugraz:ivt:VectoAPI:DeclarationDefinitions:v1.0" schemaLocation="VectoDeclarationDefinitions.1.0.xsd"/>
	<xs:element name="VectoOutput">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="VectoOutputManufacturerType">
					<xs:attribute name="schemaVersion" type="xs:decimal" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AirdragType">
		<xs:sequence>
			<xs:element name="Model" minOccurs="0">
				<xs:annotation>
					<xs:documentation>P241 / I.1.8.1 / #96</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationMethod" type="AirdragCertificationOptionType">
				<xs:annotation>
					<xs:documentation>VECTO / I.1.8.2 / #22</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationNumber" type="vdecdef:CertificationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>P268 / I.1.8.3 / #3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DigestValue" type="xs:token" minOccurs="0">
				<xs:annotation>
					<xs:documentation>? / I.1.8.5</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdxA" type="vdecdef:AirdragCdxAType">
				<xs:annotation>
					<xs:documentation>P245 / I.1.8.4 / #23</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AngledriveType">
		<xs:sequence>
			<xs:element name="Model" type="vdecdef:ModelType">
				<xs:annotation>
					<xs:documentation>P221 / I.1.6.1 / #93</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationMethod" type="vdecdef:AngledriveCertificationOptionType">
				<xs:annotation>
					<xs:documentation>P258 / I.1.6.3 / #37</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationNumber" type="vdecdef:CertificationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>P265 / I.1.6.2 / #94</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DigestValue" type="xs:token">
				<xs:annotation>
					<xs:documentation>? / I.1.6.5</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ratio" type="vdecdef:AngledriveRatioType">
				<xs:annotation>
					<xs:documentation>P176 / I.1.6.4 / #38</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxiliariesType">
		<xs:sequence>
			<xs:element name="FanTechnology" type="vdecdef:AuxFanTechnologyType">
				<xs:annotation>
					<xs:documentation>P181 / I.1.10.1 / #52</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SteeringPumpTechnology" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>P182 / I.1.10.2 / #53</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vdecdef:AuxSPTechnologyType"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ElectricSystemTechnology" type="vdecdef:AuxESTechnologyType">
				<xs:annotation>
					<xs:documentation>P183 / I.1.10.3 / #54</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PneumaticSystemTechnology" type="vdecdef:AuxPSTechnologyType">
				<xs:annotation>
					<xs:documentation>P184 / I.1.10.4 / #55</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HVACTechnology" type="vdecdef:AuxHVACTechnologyType">
				<xs:annotation>
					<xs:documentation>P185</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AxlegearType">
		<xs:sequence>
			<xs:element name="Model" type="vdecdef:ModelType">
				<xs:annotation>
					<xs:documentation>P216 / I.1.7.1 / #95</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationMethod" type="vdecdef:AxlegearCertificationOptionType">
				<xs:annotation>
					<xs:documentation>P256  I.1.7.3 / #34</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationNumber" type="vdecdef:CertificationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>P264 / I.1.7.2 / #5</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DigestValue" type="xs:token">
				<xs:annotation>
					<xs:documentation>? / I.1.7.6</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineType" type="vdecdef:AxlegearLineTypeType">
				<xs:annotation>
					<xs:documentation>P253 / I.1.7.4 / #35</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ratio" type="vdecdef:AxlegearRatioType">
				<xs:annotation>
					<xs:documentation>P150 / I.1.7.5 / #36</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AxleType">
		<xs:sequence>
			<xs:element name="TyreDimension" type="vdecdef:TyreDimensionType">
				<xs:annotation>
					<xs:documentation>P108 / I.1.9.1, I.1.9.4, I.1.9.8, I.1.9.12 / #41, #43, #46, #49</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TyreCertificationNumber" type="vdecdef:CertificationNumberType">
				<xs:annotation>
					<xs:documentation>P267 / I.1.9.2, I.1.9.6, I.1.9.10, I.1.9.14, #6, #7, #8, #9</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DigestValue" type="xs:token">
				<xs:annotation>
					<xs:documentation>? / I.1.9.3a, I.1.9.7a, I.1.9.11a, I.1.9.16</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TyreRRCDeclared" type="vdecdef:TyreRRCISOType">
				<xs:annotation>
					<xs:documentation>P046 / I.1.9.3, I.1.9.7, I.1.9.11, I.1.9.15 / #42, #45, #48, #51</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TwinTyres" type="vdecdef:AxleTwinTyresType">
				<xs:annotation>
					<xs:documentation>P045 / I.1.9.5, I.1.9.9, I.1.9.13, #44, #47, #50</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="axleNumber" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AxleWheelsType">
		<xs:sequence minOccurs="2" maxOccurs="4">
			<xs:element name="Axle" type="AxleType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CO2Type">
		<xs:simpleContent>
			<xs:extension base="xs:double">
				<xs:attribute name="unit" type="CO2UnitType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ComponentDescriptionType">
		<xs:sequence>
			<xs:element name="Model" type="vdecdef:ModelType"/>
			<xs:element name="CertificationNumber" type="vdecdef:CertificationNumberType"/>
			<xs:element name="DigestValue" type="xs:token"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EngineType">
		<xs:sequence>
			<xs:element name="Model" type="vdecdef:ModelType">
				<xs:annotation>
					<xs:documentation>P201 / I.1.2.1 / #85</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationNumber" type="vdecdef:CertificationNumberType">
				<xs:annotation>
					<xs:documentation>P261 / I.1.2.2 / #2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DigestValue" type="xs:token">
				<xs:annotation>
					<xs:documentation>? / I.2.8</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RatedPower">
				<xs:annotation>
					<xs:documentation>P250 / I.1.2.3 / #17</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vdecdef:EngineRatedPower">
							<xs:attribute name="unit" type="PowerUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="IdlingSpeed">
				<xs:annotation>
					<xs:documentation>P063, P198 / I.1.2.4 / #18</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vdecdef:EngineDeclaredSpeedType">
							<xs:attribute name="unit" type="AngularVelocityUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="RatedSpeed">
				<xs:annotation>
					<xs:documentation>P249 / I.1.2.5 / #19</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vdecdef:EngineDeclaredSpeedType">
							<xs:attribute name="unit" type="AngularVelocityUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Displacement">
				<xs:annotation>
					<xs:documentation>P061 / I.1.2.6 / #20</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="DisplacementType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="FuelType" type="vdecdef:FuelTypeType">
				<xs:annotation>
					<xs:documentation>P193 / I.1.2.7 / #21</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FuelConsumptionType">
		<xs:simpleContent>
			<xs:extension base="xs:double">
				<xs:attribute name="unit" type="FuelConsumptionUnitType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GearboxType">
		<xs:sequence>
			<xs:element name="Model" type="vdecdef:ModelType">
				<xs:annotation>
					<xs:documentation>P205 / I.1.3.1 / #86</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationMethod" type="vdecdef:GearboxCertificationOptionType">
				<xs:annotation>
					<xs:documentation>P154 / I.1.3.3 / #26</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationNumber" type="vdecdef:CertificationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>P262 / I.1.3.2 / #4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DigestValue" type="xs:token">
				<xs:annotation>
					<xs:documentation>? / I.1.3.9</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransmissionType" type="vdecdef:GearboxTransmissionTypeType">
				<xs:annotation>
					<xs:documentation>P076 / I.1.3.4 / #27</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GearsCount">
				<xs:annotation>
					<xs:documentation>P199 / I.1.3.5 / #28</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransmissionRatioFinalGear" type="vdecdef:GearboxGearRatioType">
				<xs:annotation>
					<xs:documentation>P078 / I.1.3.6 / #29</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultType">
		<xs:sequence>
			<xs:element name="Mission" type="MissionTypeType">
				<xs:annotation>
					<xs:documentation>I.2.1.1 / #56</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Distance">
						<xs:annotation>
							<xs:documentation>I.2.2.8 / #67</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unit" type="DistanceUnitType" use="required"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="SimulationParameters" type="SimulationParametersType"/>
					<xs:element name="VehiclePerformance" type="VehiclePerformanceType"/>
					<xs:element name="FuelConsumption" type="FuelConsumptionType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>I.2.3.1 - I.2.3.12 / #69</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CO2" type="CO2Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>I.2.3.13 - I.2.3.16 / #68</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="Error" type="xs:string"/>
					<xs:element name="ErrorDetails" type="xs:string"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="status" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="success"/>
					<xs:enumeration value="error"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RetarderType">
		<xs:sequence>
			<xs:element name="RetarderType" type="vdecdef:RetarderTypeType">
				<xs:annotation>
					<xs:documentation>P052 / I.1.3.7 / #30</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:element name="Model" type="vdecdef:ModelType">
					<xs:annotation>
						<xs:documentation>P226 / I.1.4.1 / #87</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CertificationMethod" type="vdecdef:RetarderCertificationOptionType">
					<xs:annotation>
						<xs:documentation>P255 / I.1.4.3 / #89</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CertificationNumber" type="vdecdef:CertificationNumberType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>P266 / I.1.4.2 / #88</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DigestValue" type="xs:token">
					<xs:annotation>
						<xs:documentation>? / I.1.4.4</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimulationParametersType">
		<xs:sequence>
			<xs:element name="TotalVehicleMass">
				<xs:annotation>
					<xs:documentation>I.2.1.4 / #59</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="MassUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Payload">
				<xs:annotation>
					<xs:documentation>I.2.1.2 / #57</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="MassUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="FuelType" type="xs:string">
				<xs:annotation>
					<xs:documentation>P193, P275 / I.2.1.3 / #58</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TorqueconverterType">
		<xs:sequence>
			<xs:element name="Model" type="vdecdef:ModelType">
				<xs:annotation>
					<xs:documentation>P211 / I.1.5.1 / #90</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationMethod" type="vdecdef:TorqueConverterCertificationOptionType">
				<xs:annotation>
					<xs:documentation>P257 / I.1.5.3 / #92</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationNumber" type="vdecdef:CertificationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>P263 / I.1.5.2 / #91</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DigestValue" type="xs:token">
				<xs:annotation>
					<xs:documentation>? / I.1.5.4</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TorqueLimitsEntryType">
		<xs:attribute name="gear" type="vdecdef:GearboxGearNumberType" use="required">
			<xs:annotation>
				<xs:documentation>P196</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="torqueLimit" type="vdecdef:TorqueLimitEntryMaxTorqueType" use="required">
			<xs:annotation>
				<xs:documentation>P197 / P194</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="unit" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Nm"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="torqueLimitPercent" use="required">
			<xs:annotation>
				<xs:documentation>/ I.1.11.*</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:float">
					<xs:minInclusive value="0.0"/>
					<xs:maxInclusive value="100.0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TorqueLimitsType">
		<xs:sequence>
			<xs:element name="Entry" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="TorqueLimitsEntryType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VectoOutputDataType">
		<xs:sequence>
			<xs:element name="Vehicle" type="VehicleType"/>
			<xs:element name="Results">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Status">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="success"/>
									<xs:enumeration value="error"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:choice>
							<xs:sequence>
								<xs:element name="Result" type="ResultType" maxOccurs="unbounded"/>
							</xs:sequence>
							<xs:element name="ExemptedVehicle">
								<xs:complexType/>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ApplicationInformation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SimulationToolVersion" type="xs:string">
							<xs:annotation>
								<xs:documentation>I.3.1.1 / #70</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Date" type="vdecdef:DateTimeWithTimezone">
							<xs:annotation>
								<xs:documentation>I.3.1.2 / #71</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:NCName" use="required"/>
	</xs:complexType>
	<xs:complexType name="VehiclePerformanceType">
		<xs:sequence>
			<xs:element name="AverageSpeed">
				<xs:annotation>
					<xs:documentation>I.2.2.1 / #60</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="SpeedUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AverageDrivingSpeed">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="SpeedUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="MinSpeed">
				<xs:annotation>
					<xs:documentation>I.2.2.2 / #61</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="SpeedUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="MaxSpeed">
				<xs:annotation>
					<xs:documentation>I.2.2.3 / #62</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="SpeedUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="MaxDeceleration">
				<xs:annotation>
					<xs:documentation>I.2.2.4 / #63</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="AccelerationUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="MaxAcceleration">
				<xs:annotation>
					<xs:documentation>I.2.2.5 / #64</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="AccelerationUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="FullLoadDrivingtimePercentage">
				<xs:annotation>
					<xs:documentation>I.2.2.6 / #65</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GearshiftCount" type="xs:int">
				<xs:annotation>
					<xs:documentation>I.2.2.7 / #66</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineSpeedDriving" type="EngineSpeedDrivingType"/>
			<xs:element name="AverageGearboxEfficiency">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="PercentType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AverageAxlegearEfficiency">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="PercentType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleType">
		<xs:sequence>
			<xs:element name="Model" type="vdecdef:ModelType">
				<xs:annotation>
					<xs:documentation>P236 / I.1.1.2 / #79</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="vdecdef:ManufacturerType">
				<xs:annotation>
					<xs:documentation>P235 / I.1.1.1 / #14</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufacturerAddress" type="vdecdef:ManufacturerAddressType">
				<xs:annotation>
					<xs:documentation>P252 / I.1.1.1 / #14</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VIN" type="vdecdef:VINType">
				<xs:annotation>
					<xs:documentation>P238 / I.1.1.3 / #1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegislativeClass" type="vdecdef:LegislativeClassDeclarationType">
				<xs:annotation>
					<xs:documentation>P251 / I.1.1.4 / #10</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossVehicleMass">
				<xs:annotation>
					<xs:documentation>P041 / I.1.1.6 / #12</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="MassUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="CurbMassChassis">
				<xs:annotation>
					<xs:documentation>P038 / I.1.1.8 / #16</xs:documentation>
					<xs:documentation>P038 / I.1.1.8 / #16</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vdecdef:VehicleCurbMassChassisType">
							<xs:attribute name="unit" type="MassUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ZeroEmissionVehicle" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>P269 / I.1.1.10 / #81</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HybridElectricHDV" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>P279 / I.1.1.11 / #82</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DualFuelVehicle" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>P280 / I.1.1.12 / #83</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:sequence>
					<xs:element name="AxleConfiguration" type="vdecdef:VehicleAxleConfigurationDeclarationType">
						<xs:annotation>
							<xs:documentation>P037 / I.1.1.5 / #11</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VehicleGroup" type="VehicleGroupType">
						<xs:annotation>
							<xs:documentation>VECTO / I.1.1.7 / #13</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VocationalVehicle" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>P270 / I.1.1.9 / #80</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SleeperCab" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>P276 / I.1.1.13 / #84</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PTO" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>P247 / I.1.3.8 / #31</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ADAS" type="ADASType"/>
					<xs:element name="TorqueLimits" type="TorqueLimitsType" minOccurs="0"/>
					<xs:element name="Components">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Engine" type="EngineType"/>
								<xs:element name="Gearbox" type="GearboxType"/>
								<xs:element name="TorqueConverter" type="TorqueconverterType" minOccurs="0"/>
								<xs:element name="Retarder" type="RetarderType"/>
								<xs:element name="Angledrive" type="AngledriveType" minOccurs="0"/>
								<xs:element name="Axlegear" type="AxlegearType"/>
								<xs:element name="AirDrag" type="AirdragType"/>
								<xs:element name="AxleWheels" type="AxleWheelsType"/>
								<xs:element name="Auxiliaries" type="AuxiliariesType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="MaxNetPower1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>P277</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unit" type="PowerUnitType" use="required"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="MaxNetPower2" minOccurs="0">
						<xs:annotation>
							<xs:documentation>P278</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unit" type="PowerUnitType" use="required"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:choice>
			<xs:element name="InputDataSignature" type="vdecdef:SignatureType">
				<xs:annotation>
					<xs:documentation>I.3.1.3</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AccelerationUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="m/s²"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirdragCertificationOptionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Measured"/>
			<xs:enumeration value="Standard values"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CO2UnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="g/km"/>
			<xs:enumeration value="g/t-km"/>
			<xs:enumeration value="g/p-km"/>
			<xs:enumeration value="g/m³-km"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DistanceUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="km"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FuelConsumptionUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="g/km"/>
			<xs:enumeration value="g/t-km"/>
			<xs:enumeration value="g/p-km"/>
			<xs:enumeration value="g/m³-km"/>
			<xs:enumeration value="l/100km"/>
			<xs:enumeration value="l/t-km"/>
			<xs:enumeration value="l/p-km"/>
			<xs:enumeration value="l/m³-km"/>
			<xs:enumeration value="MJ/km"/>
			<xs:enumeration value="MJ/t-km"/>
			<xs:enumeration value="MJ/m³-km"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MassUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="kg"/>
			<xs:enumeration value="t"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MissionTypeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Long Haul EMS"/>
			<xs:enumeration value="Long Haul"/>
			<xs:enumeration value="Regional Delivery EMS"/>
			<xs:enumeration value="Regional Delivery"/>
			<xs:enumeration value="Urban Delivery"/>
			<xs:enumeration value="Municipal Utility"/>
			<xs:enumeration value="Construction"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpeedUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="km/h"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VehicleGroupType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AngularVelocityUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="rpm"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PowerUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="kW"/>
			<xs:enumeration value="W"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DisplacementType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ltr"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="VectoOutputManufacturerType">
		<xs:sequence>
			<xs:element name="Data">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="VectoOutputDataType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Signature" type="vdecdef:SignatureType">
				<xs:annotation>
					<xs:documentation>I.3.1.4 / #73</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PercentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="%"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ADASType">
		<xs:sequence>
			<xs:element name="EngineStopStart" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>P271 / I.1.12.1 / #97</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EcoRollWithoutEngineStop" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>P272 / I.1.12.2 / #98</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EcoRollWithEngineStop" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>P273 / I.1.12.3 / #99</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PredictiveCruiseControl" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>P274 / I.1.12.4 / #100</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EngineSpeedDrivingType">
		<xs:sequence>
			<xs:element name="Min">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="AngularVelocityUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Average">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="AngularVelocityUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Max">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="AngularVelocityUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
