doc/reco3/Schemas/VectoOutputCustomer.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by Helmut Eichlseder (TU Graz/Inst. f. VKM und THD) -->
<!--W3C XML Schema generated by XMLSpy vXMLSpy Professional Edition v2016 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema xmlns="urn:tugraz:ivt:VectoAPI:CustomerOutput:v0.7" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vdecdef="urn:tugraz:ivt:VectoAPI:DeclarationDefinitions:v1.0" targetNamespace="urn:tugraz:ivt:VectoAPI:CustomerOutput:v0.7" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.7">
	<xs:import namespace="urn:tugraz:ivt:VectoAPI:DeclarationDefinitions:v1.0" schemaLocation="VectoDeclarationDefinitions.1.0.xsd"/>
	<xs:element name="VectoCustomerInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Data">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="VectoOutputDataType"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Signature" type="vdecdef:SignatureType"/>
			</xs:sequence>
			<xs:attribute name="schemaVersion" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CO2Type">
		<xs:simpleContent>
			<xs:extension base="xs:double">
				<xs:attribute name="unit" type="CO2UnitType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FuelConsumptionType">
		<xs:simpleContent>
			<xs:extension base="xs:double">
				<xs:attribute name="unit" type="FuelConsumptionUnitType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ResultType">
		<xs:sequence>
			<xs:element name="Mission" type="MissionTypeType"/>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Payload">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unit" type="MassUnitType" use="required"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="FuelType" type="xs:string"/>
					<xs:element name="AverageSpeed">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unit" type="SpeedUnitType" use="required"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="FuelConsumption" type="FuelConsumptionType" maxOccurs="unbounded"/>
					<xs:element name="CO2" type="CO2Type" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element name="Error" type="xs:string"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="status" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="success"/>
					<xs:enumeration value="error"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="VectoOutputDataType">
		<xs:sequence>
			<xs:element name="Vehicle" type="VehicleType"/>
			<xs:element name="ResultDataSignature" type="vdecdef:SignatureType">
				<xs:annotation>
					<xs:documentation>II.3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Results">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Status">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="success"/>
									<xs:enumeration value="error"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:choice>
							<xs:sequence>
								<xs:element name="Result" type="ResultType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>II.2.1, II.2.2</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Summary" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="SpecificCO2Emissions">
												<xs:annotation>
													<xs:documentation>II.2.3</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:simpleContent>
														<xs:extension base="xs:double">
															<xs:attribute name="unit" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="gCO2/tkm"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:extension>
													</xs:simpleContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="AveragePayload">
												<xs:annotation>
													<xs:documentation>II.2.4</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:simpleContent>
														<xs:extension base="xs:double">
															<xs:attribute name="unit" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="t"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:extension>
													</xs:simpleContent>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:element name="ExemptedVehicle">
								<xs:complexType/>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ApplicationInformation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SimulationToolVersion" type="xs:string">
							<xs:annotation>
								<xs:documentation>II.2.5</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Date" type="vdecdef:DateTimeWithTimezone">
							<xs:annotation>
								<xs:documentation>II.2.5</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:NCName" use="required"/>
	</xs:complexType>
	<xs:complexType name="VehiclePerformanceType">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="VehicleType">
		<xs:sequence>
			<xs:element name="Model" type="vdecdef:ModelType">
				<xs:annotation>
					<xs:documentation>P236 / II.1.1.7</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="vdecdef:ManufacturerType">
				<xs:annotation>
					<xs:documentation>P235 / II.1.1.6</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufacturerAddress" type="vdecdef:ManufacturerAddressType">
				<xs:annotation>
					<xs:documentation>P252 / II.1.1.6</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VIN" type="vdecdef:VINType">
				<xs:annotation>
					<xs:documentation>P238 / II.1.1.1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegislativeClass" type="vdecdef:LegislativeClassDeclarationType">
				<xs:annotation>
					<xs:documentation>P251 / II.1.1.2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossVehicleMass">
				<xs:annotation>
					<xs:documentation>P041 / II.1.1.4</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unit" type="MassUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="CurbMassChassis">
				<xs:annotation>
					<xs:documentation>P038 / II.1.1.8</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vdecdef:VehicleCurbMassChassisType">
							<xs:attribute name="unit" type="MassUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ZeroEmissionVehicle" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>P269 / II.1.1.10</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HybridElectricHDV" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>P279 / II.1.1.11</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DualFuelVehicle" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>P280 / II.1.1.12</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:sequence>
					<xs:element name="AxleConfiguration" type="vdecdef:VehicleAxleConfigurationDeclarationType">
						<xs:annotation>
							<xs:documentation>P037 / II.1.1.3</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VehicleGroup" type="VehicleGroupType">
						<xs:annotation>
							<xs:documentation>VECTO / II.1.1.5</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VocationalVehicle" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>P270 / II.1.1.9</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SleeperCab" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>P267 / II.1.1.13</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ADAS" type="ADASType"/>
					<xs:element name="EngineRatedPower">
						<xs:annotation>
							<xs:documentation>P250 / II.1.2.1</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="vdecdef:EngineRatedPower">
									<xs:attribute name="unit" type="PowerUnitType" use="required"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="EngineDisplacement">
						<xs:annotation>
							<xs:documentation>P061 / II.1.2.2</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unit" type="DisplacementType" use="required"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="FuelType" type="vdecdef:FuelTypeType">
						<xs:annotation>
							<xs:documentation>P193 / II.1.2.3</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransmissionMainCertificationMethod" type="vdecdef:GearboxCertificationOptionType">
						<xs:annotation>
							<xs:documentation>P154 / II.1.2.4</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransmissionType" type="vdecdef:GearboxTransmissionTypeType">
						<xs:annotation>
							<xs:documentation>P076 / II.1.2.5</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GearsCount">
						<xs:annotation>
							<xs:documentation>P199 / II.1.2.6</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Retarder" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>P052 / II.1.2.7</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AxleRatio" type="vdecdef:AxlegearRatioType">
						<xs:annotation>
							<xs:documentation>P150 / II.1.2.8</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AverageRRCMotorVehicleTyres" type="vdecdef:TyreRRCISOType">
						<xs:annotation>
							<xs:documentation>P046 / II.1.2.9  // arithmetic average of RRC over all truck tires</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AverageFuelEfficiencyLabelMotorVehicleTyres">
						<xs:annotation>
							<xs:documentation>II.1.2.10  // classification of AverageRRCMotorVehicleTyres according to 1222/2009 C3 tyres </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="MaxNetPower1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>P277</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unit" type="PowerUnitType" use="required"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="MaxNetPower2" minOccurs="0">
						<xs:annotation>
							<xs:documentation>P278</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unit" type="PowerUnitType" use="required"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:choice>
			<xs:element name="InputDataSignature" type="vdecdef:SignatureType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AccelerationUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="m/s²"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirdragCertificationOptionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Measured"/>
			<xs:enumeration value="Standard values"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CO2UnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="g/km"/>
			<xs:enumeration value="g/t-km"/>
			<xs:enumeration value="g/p-km"/>
			<xs:enumeration value="g/m³-km"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DistanceUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="km"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FuelConsumptionUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="g/km"/>
			<xs:enumeration value="g/t-km"/>
			<xs:enumeration value="g/p-km"/>
			<xs:enumeration value="g/m³-km"/>
			<xs:enumeration value="l/100km"/>
			<xs:enumeration value="l/t-km"/>
			<xs:enumeration value="l/p-km"/>
			<xs:enumeration value="l/m³-km"/>
			<xs:enumeration value="MJ/km"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MassUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="kg"/>
			<xs:enumeration value="t"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MissionTypeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Long Haul EMS"/>
			<xs:enumeration value="Long Haul"/>
			<xs:enumeration value="Regional Delivery EMS"/>
			<xs:enumeration value="Regional Delivery"/>
			<xs:enumeration value="Urban Delivery"/>
			<xs:enumeration value="Municipal Utility"/>
			<xs:enumeration value="Construction"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpeedUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="km/h"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VehicleGroupType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PowerUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="kW"/>
			<xs:enumeration value="W"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DisplacementType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ltr"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ADASType">
		<xs:sequence>
			<xs:element name="EngineStopStart" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>P271 / II.1.2.11</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EcoRollWithoutEngineStop" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>P272 / II.1.2.12</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EcoRollWithEngineStop" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>P273 / II.1.2.13</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PredictiveCruiseControl" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>P274 / II.1.2.14</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
